[submodule "vendor/binary-serialise-cbor"]
	path = vendor/binary-serialise-cbor
	url = git://github.com/bgamari/binary-serialise-cbor
[submodule "vendor/b-tree"]
	path = vendor/b-tree
	url = git://github.com/bgamari/b-tree
[submodule "vendor/pipes-s3"]
	path = vendor/pipes-s3
	url = git://github.com/bgamari/pipes-s3
[submodule "vendor/html-parse"]
	path = vendor/html-parse
	url = git://github.com/bgamari/html-parse
[submodule "vendor/http-parsers"]
	path = vendor/http-parsers
	url = git://github.com/bgamari/http-parsers
[submodule "vendor/warc"]
	path = vendor/warc
	url = git://github.com/bgamari/warc
[submodule "vendor/aeson"]
	path = vendor/aeson
	url = git://github.com/bos/aeson
[submodule "vendor/aws"]
	path = vendor/aws
	url = git://github.com/aristidb/aws
[submodule "binary"]
	path = binary
	url = git://github.com/kolmodin/binary
[submodule "vendor/binary"]
	path = vendor/binary
	url = git://github.com/kolmodin/binary
[submodule "vendor/xml"]
	path = vendor/xml
	url = git://github.com/snoyberg/xml
[submodule "vendor/indexed-vector"]
	path = vendor/indexed-vector
	url = git://github.com/bgamari/indexed-vector
[submodule "vendor/fork-map"]
	path = vendor/fork-map
	url = https://git@git.smart-cactus.org/ben/fork-map
[submodule "vendor/trifecta"]
	path = vendor/trifecta
	url = git://github.com/ekmett/trifecta
